
.fullContainer {
  width: 80%; 
}

h1 {
  padding-top: 1rem;
}

h3 {
  padding-left: 1rem; 
  font-size: 80%;
  text-align: left;
}

h4 {
  padding-bottom: 1rem;
  padding-left: 1rem; 
  text-align: left;
  color: #DB5D0F;
}