.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
}

.tag {
  color:#7E8E65;
}

.loginDiv, .signupDiv{
  text-align: center;
}

