.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-items: left;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin: 1rem; 
}
